body{
    background-color: yellowgreen;
}
.markeliotzukerberg{
    background-color: red;
}
.eduardoluissaverin{
    background-color: yellow;
}
.andrewmccollum{
    background-color: blue;
}
.dustinmoskovits{
    background-color: chartreuse;
}